@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16;
  font-family: 'Red Hat Display', sans-serif;
  background: var(--pale-blue) url('./images/pattern-background-mobile.svg')
    center/cover no-repeat;
}

button {
  font-family: inherit;
}

#container {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0px 3px 5px hsl(224, 23%, 55%, 0.2);
}

.illu img {
  width: 100%;
}

.anual-plan {
  display: flex;
  justify-content: space-around;
  background-color: var(--very-pale-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* @media (min-width: 768px) {
  .bg__image {
    background: url('./images/pattern-background-desktop.svg') no-repeat
      center/cover;
    height: 50vh;
  }
} */
