@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 62.5%;
}

body {
  background: var(--pale-blue) url('./images/pattern-background-desktop.svg')
    center/cover no-repeat;
}

button {
  font-family: inherit;
}

main {
  margin: auto;
  margin-top: 2rem;
  width: 45rem;
  background-color: #fff;
  overflow: hidden;
  border-radius: 1.5rem;
  box-shadow: 0rem 0.3rem 0.5rem hsl(224, 23%, 55%, 0.2);
}

img {
  width: 100%;
  margin: 0;
  display: block;
}

h1 {
  font-weight: 900;
  font-size: 2.8rem;
  color: #1f2e55;
  margin-top: 4.5rem;
}

.wrapper {
  width: 35.4rem;
  margin: auto;
  text-align: center;
}

.sum-text {
  font-weight: 500;
  font-size: 1.6rem;
  color: #717fa6;
  line-height: 2.6rem;
  margin-top: 1.7rem;
}

.plan-box {
  display: flex;
  align-items: center;
  background-color: var(--very-pale-blue);
  border-radius: 1rem;
  padding: 2.5rem 2.4rem;
  margin-top: 2rem;
}

.music-note {
  width: 4.8rem;
}

.price {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 9.4rem;
}

.an-plan {
  font-weight: 900;
  font-size: 1.6rem;
  color: #1f2e55;
}

.an-price {
  font-weight: 500;
  font-size: 1.6rem;
  color: #717fa6;
}

footer {
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
